/* Switch Option */

.switch_options {
    display: block;
}

.switch_options:before,
.switch_options:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.switch_options:after {
    clear: both;
}

.switch_options span {
    display: inline-block;
    float: left;
    padding: 7px 11px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}

.switch_options span:first-of-type {
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

.switch_options span:last-of-type {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.switch_options span:hover {
    background: #fafafa;
}

.switch_options span.selected {
    background: #00b7ea;
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
    background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: #3ec8ff;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
    border-color: #3ec8ff;
    color: #fff;
}


/* Radio Image Control */

.customize-control-rdcode-radio-image .ui-button {
    margin: 0;
    border-radius: 0;
    border: none;
    background: transparent;
}

.customize-control-rdcode-radio-image .ui-button-text {
    padding: 0;
}

.customize-control-rdcode-radio-image img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 1px;
    border: 4px solid transparent;
}

.customize-control-rdcode-radio-image img:hover,
.customize-control-rdcode-radio-image img:focus {
    border-color: #ddd;
}

.customize-control-rdcode-radio-image .ui-state-active img {
    border-color: #00a0d2;
}


/* Repeater field */

.rdcode-clearfix:after,
.rdcode-clearfix:before {
    content: "";
    display: table;
}

.rdcode-clearfix:after {
    clear: both;
}

.rdcode-repeater-field-control {
    background: #FFF;
    margin-bottom: 12px;
    display: block;
}

.rdcode-repeater-footer {
    margin-top: 15px;
    text-align: right;
}

.rdcode-repeater-field-control:first-child .rdcode-repeater-footer {
    display: none;
}

.rdcode-repeater-field textarea {
    width: 100%;
}

.rdcode-repeater-field-title {
    padding: 13px 15px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1em;
    border: 1px solid #e5e5e5;
    cursor: move;
    position: relative;
    border-bottom: 0;
}

.rdcode-repeater-field-title:after {
    content: "\f142";
    font: 400 20px/1 dashicons;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 2px 1px 0;
    margin-top: 10px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.rdcode-repeater-field-control.expanded .rdcode-repeater-field-title:after {
    content: "\f140";
}

.rdcode-repeater-fields {
    padding: 0 10px 10px;
    border-top: none;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    display: none;
}

.rdcode-repeater-fields .customize-control-title {
    margin-top: 10px;
}

.rdcode-repeater-field-control.expanded .rdcode-repeater-fields {
    display: block;
}

.rdcode-reapeater-add-control-field {
    float: right;
}

.rdcode-reapeater-add-add-control-field:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 18px/1 dashicons;
    vertical-align: middle;
}

.rdcode-repeater-type-icon {
    overflow: hidden;
}

.rdcode-repeater-selected-icon {
    background: #F6F6F6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #EEE;
    position: relative;
    margin-right: 45px;
    cursor: pointer;
    font-size: 28px;
}

.rdcode-repeater-selected-icon span {
    position: absolute;
    background: #F6F6F6;
    right: -45px;
    top: -1px;
    height: 45px;
    width: 45px;
    border: 1px solid #EEE;
    font-size: 20px;
}

.rdcode-repeater-icon-list {
    height: 215px;
    overflow-y: scroll;
    font-size: 18px;
    border: 1px solid #EEE;
    border-right: 0;
    border-top: 0;
    padding-bottom: 4%;
    display: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.rdcode-repeater-icon-list li {
    float: left;
    margin: 4% 3% 0;
    height: 40px;
    width: 16%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #EEE;
}

.rdcode-repeater-icon-list li:hover {
    background: #333;
    border: 1px solid #333;
    color: #FFF;
}

.rdcode-repeater-icon-list li.icon-active {
    background: #0073aa;
    border: 1px solid #0073aa;
    color: #FFF;
}

.customize-control-repeater .rdcode-limit-msg {
    display: none;
}

.customize-control-repeater span.rdcode-limit-msg:nth-of-type(2) {
    display: block;
    background: #fff;
    padding: 10px 15px;
    margin: 10px 0 10px;
    border-left: 3px solid #ffb900;
}


/* Pro theme link */

#customize-controls .control-section-upsell .accordion-section-title:hover,
#customize-controls .control-section-upsell .accordion-section-title:focus {
    background-color: #fff;
}

.control-section-upsell .accordion-section-title .button {
    margin-top: -4px;
    font-weight: 700;
    margin-left: 8px;
    background-image: linear-gradient(to right, rgba(212, 51, 93, 1), rgba(255, 86, 39, 1));
    border: none;
    color: #fff;
}

.control-section-upsell .accordion-section-title .button:hover {
    border: none;
    background-image: linear-gradient(to right, rgba(255, 86, 39, 1), rgba(212, 51, 93, 1));
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}


/* Radio Image Button */

.customize-control-rdcode-radio-image .ui-button {
    margin: 0;
    border-radius: 0;
    border: none;
    background: transparent;
}

.customize-control-rdcode-radio-image .ui-button-text {
    padding: 0;
}

.customize-control-rdcode-radio-image img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 1px;
    border: 4px solid transparent;
}

.customize-control-rdcode-radio-image img:hover,
.customize-control-rdcode-radio-image img:focus {
    border-color: #ddd;
}

.customize-control-rdcode-radio-image .ui-state-active img {
    border-color: #3ec8ff;
    box-shadow: 8px 8px 30px 0px #3ec8ff57;
    border-width: 2px;
}

.customize-control-rdcode-radio-image img {
    width: 97px;
    border-radius: 10px;
}


/* Customizer heading */

.rdcode-customizer-heading {
    display: block;
    margin: 0 -12px;
    padding: 13px 12px;
    background-color: #fff;
    color: #1e8cbe;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
}

.upload_image_btn.upload_team_c {
    margin-top: 8px;
}


/* Drag & Drop Sortable Option */

.customizer-repeater-general-control-repeater-container,
.customizer-repeater-general-control-repeater_container {
    width: 100%;
    float: left;
    padding: 5px 0;
    cursor: move;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden,
.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-top: 0px;
    padding-top: 0px;
}

button.social-repeater-general-control-remove-field {
    display: inline-block;
    white-space: initial !important;
    line-height: 17px !important;
    width: 100%!important;
    margin-top: 10px!important;
}

button.social-repeater-general-control-remove-field:hover {
    background-color: #00a0d2!important;
    color: #FFFFFF!important;
    border: 0;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-text-control,
.customizer-repeater-general-control-repeater-container .customizer-repeater-link-control {
    width: 100% !important;
    margin: 3px 0 0 !important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-icon-control {
    width: 100%;
    margin: 0;
    padding: 0;
}

#customizer-repeater-new-field {
    width: 100%;
}

.customize-control-widget_form .icare-widget-control-save {
    display: block !important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
    display: none;
}

.customizer-repeater-box-content-hidden {
    background-color: #FFFFFF;
}

.customizer-repeater-customize-control-title {
    cursor: move !important;
    font-weight: 500;
    padding: 4px 10px !important;
    height: 40px;
    line-height: 40px !important;
    background: #3ec8ff;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, rgba(45, 134, 187, 0.06), rgba(72, 155, 193, 0.31));
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center;
    color: #fff;
}

.customizer-repeater-image-control .customizer-repeater-custom-media-button {
    margin-top: 5px;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
    padding-top: 5px;
}

.customizer-icons {
    display: inline-block;
    padding: 0 10px 0 0;
    vertical-align: middle;
}


/* Font Family option */

#customize-theme-controls #sub-accordion-section-rdcode_typography.customize-pane-child.open {
    height: 100%;
}

.rdcode-ss-wrap {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.rdcode-ss-wrap.active {
    box-shadow: 0 0 2px rgba(30, 140, 190, .8);
    border: 1px solid #5897fb;
}

.customize-control input.rdcode-fs-main-input {
    width: 90%;
    background: #fff;
    display: block;
    float: left;
    box-shadow: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-right: 0;
    border-radius: 0;
    height: 35px;
}

.customize-control input.rdcode-fs-main-input:focus {
    border-color: #ddd;
}

.rdcode-fs-input-addon {
    width: 10%;
    background: #fff;
    box-sizing: border-box;
    padding: 7px 0;
    line-height: 18px;
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    border-left: 0;
    height: 35px;
}

.rdcode-fs-options-wrapper {
    max-height: 300px;
    overflow-y: scroll;
}

.rdcode-fs-options-group {
    display: block;
}

.rdcode-fs-search {
    padding: 7px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.rdcode-fs-option,
.rdcode-fs-options-heading {
    display: block;
    padding: 3px 5px;
    line-height: 18px;
}

.rdcode-fs-option {
    cursor: pointer;
}

.rdcode-fs-options-heading {
    font-weight: 600;
    color: #777;
    background: #eee;
}

.rdcode-fs-option:hover {
    background: #5897fb;
    color: #fff;
}

.rdcode-ss-wrap.active .rdcode-fs-dropdown {
    display: contents;
    width: 100%;
    z-index: 1000;
}

.rdcode-fs-dropdown {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    display: none;
    position: absolute;
}

.customize-control-palette label {
    display: block;
    padding: 0 10px 10px;
}

.customize-control-palette label.selected {
    padding-top: 5px;
    background-color: #ddd;
}

.customize-control-palette .palette-label {
    line-height: 28px;
}

.customize-control-palette .palette-block {
    display: table;
    width:   100%;
    height:  45px;
}

.customize-control-palette .palette-color {
    display: table-cell;
    height:  100%;
}

/* === Radio Image Control === */

.customize-control-radio-image input[type="radio"] {
    clip:     rect(1px, 1px, 1px, 1px);
    height:   1px;
    overflow: hidden;
    position: absolute !important;
    width:    1px;
}

.customize-control-radio-image img {
    box-sizing: border-box;
    max-width:  100%;
    height:     auto;
    padding:    1px;
    border:     4px solid transparent;
}

.customize-control-radio-image img:hover,
.customize-control-radio-image img:focus {
    border-color: #ccc;
}

.customize-control-radio-image input:checked + span + img {
    border-color: #00a0d2;
}

/* Control: Sortable. */
.customize-control-businessexpo-sortable ul.ui-sortable li {
    padding: 10px 10px;
    border: 1px solid #333;
    background: #fff;
    box-shadow: 0 0 5px 2px #6b6b6bfa;
}

.customize-control-businessexpo-sortable ul.ui-sortable li .dashicons.dashicons-move {
    float: right;
}

.customize-control-businessexpo-sortable ul.ui-sortable li .dashicons.visibility {
    margin-right: 10px;
}

.customize-control-businessexpo-sortable ul.ui-sortable li.invisible {
    color: #aaa;
    border: 1px dashed #aaa;
}

.customize-control-businessexpo-sortable ul.ui-sortable li.invisible .dashicons.visibility {
    color: #aaa;
}